#form-a11y {
  margin-top: 40px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 4px;
  padding: 16px 16px 32px 16px;
  margin: 40px 20px;

  .form-title {
    font-size: 32px;
    font-weight: 600;
  }

  .input {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid rgb(211, 211, 211);
    outline: none;

    &::placeholder {
      font-style: italic;
    }
  }

  .label-wrapper {
    display: inline-block;
    margin-bottom: 12px;

    .label {
      font-weight: 500;
      font-size: 20px;
    }

    .mandatory {
      font-size: 20px;
      font-weight: 500;
      color: rgb(255, 0, 0);
    }
  }

  .radio-inputs-wrapper {
    display: flex;
    gap: 16px;
    align-items: center;

    .label {
      font-size: 20px;
      font-weight: 300;
      margin-left: 12px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: start;
    }
  }

  .submit-btn {
    background-color: rgb(0, 0, 255);
    color: black;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 16px;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 255, 0.75);
    }
  }
}
